/*@font-face {
    font-family: 'ABeeZee'; 
    src: url(./abeezee/abeezee-regular.ttf); 
   }

body {
    font-family: 'ABeeZee', 'Aerial';
}*/

.content {
    margin-top: 100px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	margin-right: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.center {
	style="width: 50%; 
	margin: 0 auto 0 auto; 
	text-align: center;
	height: 50%;"
	margin-left:100px;
}

.frame {
	max-width: 450px;
	max-height: 405px;
	display: inline-block;
	outline: none;
	text-decoration: none;
	padding: 20px;
	margin-left:100px;
	text-shadow: 1 2px 2px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 5px 6px rgba(0,0,0,.2);
}




galery {margin:100px auto auto 300px;} 
#galery {border-collapse:collapse; position:relative; top:0; left:0;}
#galery td {border:1px solid gray; padding:5px;}
#galery img {vertical-align:top; cursor:pointer; border:0;}
#galery img, #galery td {width:90px; height:86px;}

.smallImg {
	width:90px; height:86px;
}

#container {
	background: #FFFFFF;
	margin: 30px auto;
	width: 903px;
	height: 500px;
}

#buttonChose {
	background: #c0c0c0;
	float: right;
	width: 700px;
	height: 111px;
}

#imageView {
	background: #d2d0d2;
	float: right;
	width: 700px;
	height: 400px;
}

#menu {
	background: #a2a0a2;
	float: left;

	width: 203px;
	height: 511px;
}

#clear {
clear:both;
}